
html, body
{
    height: 100%;
    margin: 0px;
}
*::-webkit-scrollbar{
    height: 0.5rem;
    width: 0.5rem;
}

*::-webkit-scrollbar-track{

    background-color: black; 
}
*::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 5px;
}
*::-webkit-scrollbar-thumb:active{
    background-color: gray;
}



body{
    background-color: #000;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

section>h2{
    text-transform: uppercase;
    font-size: 0.9em;
    margin: 0px;

}

.cancion{
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 10px;
    width: 160px;
    height: 220px;
    margin: 10px;
    display: grid;
    justify-content: center;
    align-content: center;
	flex: 0 0 auto;
}

.cancion:hover{
    cursor: pointer;
    background-color: #ffffff2d;
}

.cancion img{
    width: 120px;
}
.cancion h1{
    font-size: 0.8em;
    margin-bottom: 0.5em;
    width: 120px;
}
.cancion h2{
    font-size: 0.7em;
    color: grey;
    margin-top: 0em;
    width: 120px;
    height: auto;
    overflow-y: auto;
}

.recomendations{
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
}

header{
    display: flex;
    justify-content: right;
    padding-bottom: 5px;
}

.upgrade-btn{
    width: 150px;
    height: 30px;
    border: 1px solid #ffffff;
    border-radius: 30px;
    background-color: #000;
    color: white;

}
.upgrade-btn:hover{
    cursor: pointer;
    background-color: #ffffff2d;
}


.music{
    height: 90%;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.109);
    padding-left: 20px;
}

footer{
    background-color: rgba(255, 255, 255, 0.192);
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
}

.player{
    width: 100%;
    margin: 10px;
    align-self: center;
    display:flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-between;
}

.player span{
    margin: 10px;
}

.current{
    width: 190px;
    flex: 0 0 auto;
    height: 80%;
    display: flex;
    flex-flow: row nowrap;
}


.current img{
    width: 60px;
}
.current h1{
    font-size: 1em;
    margin: 5px;
}
.current h2{
    text-transform: capitalize;
    font-size: 0.8em;
    margin: 5px;
}

.controls{
    justify-content: center;
    display: flex;
}

.bar-progress:hover{
    animation-name: play;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.bar-progress{
    width: 20px;
    height: 5px;
    background-color: honeydew;
}

.bar{
    height: 5px;
    width: 300px;
    background-color: gray;
    display: inline-block;
}

.list {
	align-items: center;
	display: inline-flex;
}


main{
    display: grid;
    grid-template-columns: 180px 85%;
    grid-template-rows: 90%;
}


body{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 85% 15%;
}

.logo img{
    width: 150px;
    margin: 10px;
}

aside{
	display: grid;
	grid-template-rows: 10% 20% 20% 50% 10%;
    margin-left: 10px;
    margin-right: 10px;
}

aside ul{
    list-style: none;
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 0;

}
aside li{
    font-size: 0.8em;
    padding-left: 0px;
    height: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
}
aside li:hover{
    cursor: pointer;
    background-color: #ffffff26;
}

.download{
    text-align: center;
}


.starred{
    overflow-y: scroll;
}

.selected{
    background-color: #ffffff26;
}

.ads{

	text-align: center;
}

.ads img{
	width: 270px;
}

.profile{
    background-color: #000;
    border:0px;
    font-size: 20px;
    color: #ffffff;
}


@keyframes play{
    from{
        width:30px
    }to{
        width:300px
    }
}
